export PAIRBOT_URL=http://0.0.0.0:5000
export SLACK_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXX
#export SLACK_WEBHOOK_URL=https://hooks.slack.com/services/TXXXXXXXX/BXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX
#export SLACK_PAIR_CHANNEL=#pair
export MONGO_URL="mongodb://localhost:27017/test"
export DB_PROVIDER=memory
#export DB_PROVIDER=mongo
#export DB_PROVIDER=redis
